html {
    background-color: rgba(34, 34, 65, .85);
    font-family: 'Orelega One', cursive;
    overflow: scroll;
}

body {
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: scroll;
}

#header { 
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 55px;
}

#header>h2 {
    margin: 0 10px;
}

#nav-container {
    display: flex;
}

.nav-tabs {
    margin: 12px;
    padding: 4px;
}

.nav-tabs:hover {
    border-radius: 3px;
    cursor: pointer;
    background-color: #e6e7a1;
    opacity: .85;

}

#content {
    display: flex;
    justify-content: center;
    margin: 10% 0;
    height: 80%;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 55%;
    background-color: rgba(27, 27, 27, 0.7);
    color: white;
    border-radius: 5px;
}


#uber-deal {
    display: flex;
    margin: 10px;
    font-size: 25px;
    align-self: center;
}

#uber-deal>img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

#uber-deal>img:hover {
    cursor: pointer;
}

#menu-container {
    display: grid;
    background-color: rgba(27, 27, 27, 0.7);
    color: white;
    width: 70%;
    grid-template:
        'ap ss' 1fr
        'ds dr' 2fr
        'sp sp' 1fr;
    padding-bottom: 20px;

}

#menu-container>* {
    margin: auto;
}

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    color: white;
    background-color: rgba(27, 27, 27, 0.7);
    text-align: center;
}

.about-line{
    margin: 0 11%;
    font-size: 20px;
}

#background {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    opacity: .7;
}